n8n/moneyacademyke tweet to whatsapp status.json
{
  "name": "moneyacademyke tweet to whatsapp status",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a19b29f5-15ce-472e-92ac-12752aeb0734",
              "name": "tweet_url",
              "value": "={{ $json.channel_post.entities[1].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        -160
      ],
      "id": "63306836-195e-4a76-92bc-6dffdcafda8c",
      "name": "Set URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod.api.market/api/v1/eiconstela/x-screenshot/screenshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-market-key",
              "value": "cmdoqhcvy0006k0048cp6tlxw"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.tweet_url }}"
            },
            {
              "name": "light_mode",
              "value": "dark"
            },
            {
              "name": "transparent",
              "value": "false"
            },
            {
              "name": "padding",
              "value": "50"
            },
            {
              "name": "format",
              "value": "bytes"
            },
            {
              "name": "show_views",
              "value": "false"
            },
            {
              "name": "show_reply",
              "value": "false"
            },
            {
              "name": "show_like",
              "value": "false"
            },
            {
              "name": "show_retweet",
              "value": "false"
            },
            {
              "name": "show_bookmark",
              "value": "false"
            },
            {
              "name": "show_datetime",
              "value": "false"
            },
            {
              "name": "zoom_level",
              "value": "2.5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -160
      ],
      "id": "addd5844-f5c5-4b8c-bcfb-9a7b345fda61",
      "name": "Screenshot API"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -480,
        -160
      ],
      "id": "99eb3bb3-8dc7-473a-b2bd-de9a353cbbd7",
      "name": "Workflow Complete1"
    },
    {
      "parameters": {
        "updates": [
          "channel_post"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2368,
        -160
      ],
      "id": "a9760979-5d7f-4678-a4d9-1db3ecbb2e07",
      "name": "Telegram Trigger",
      "webhookId": "ffbf1e20-7924-4b87-9e3a-98a8c3ec46bd",
      "credentials": {
        "telegramApi": {
          "id": "X0BoRzsYbPxgitNj",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://157.245.25.39:3000/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "screenshot",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1392,
        96
      ],
      "id": "96c4fc93-884f-4671-b9f8-a44799a081af",
      "name": "Upload Screenshot"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e261d465-fd76-4356-92f1-7c26cd256f3d",
              "name": "public_url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        96
      ],
      "id": "b210ec92-ac6d-4cbc-9af6-5ae395301a22",
      "name": "Extract URL"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "imageUrl",
              "value": "={{ $json.public_url }}"
            },
            {
              "name": "captionText",
              "value": "={{ $('Screenshot API').item.json.tweet_url }}"
            },
            {
              "name": "Node",
              "value": "=17841455067044295"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Image & Caption",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -1024,
        96
      ],
      "id": "fb3f976d-257d-4665-9808-d38d77031138"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $json.Node }}",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "image_url",
                "value": "={{ $json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -848,
        96
      ],
      "id": "1fcb601b-aead-4e73-b28e-b47b972de1a6",
      "name": "Creating Container ID",
      "credentials": {
        "facebookGraphApi": {
          "id": "BZjqzSFMkRChKuSi",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1080,
        "height": 1350,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -1600,
        -160
      ],
      "id": "e0db0d08-cc52-413a-8ba5-e84ba88da208",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v22.0",
        "node": "={{ $('Set Image & Caption').item.json.Node }}",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $json.id }}"
              },
              {
                "name": "image_url",
                "value": "={{ $('Set Image & Caption').item.json.imageUrl }}"
              },
              {
                "name": "caption",
                "value": "={{ $('Set Image & Caption').item.json.captionText }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        -672,
        96
      ],
      "id": "b643dc7d-25b6-4707-a081-3a05c167aa59",
      "name": "Post to Instagram",
      "credentials": {
        "facebookGraphApi": {
          "id": "BZjqzSFMkRChKuSi",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/stories/send/media",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "authorization",
              "value": "Bearer 2Z6B8fkoYFzfLRdY9dJur35W3Tnhetmb"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            },
            {
              "name": "caption",
              "value": "={{ $json.tweet_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1312,
        -160
      ],
      "id": "aabfbfad-d262-44b4-8c88-1a66986f5b73",
      "name": "WHAPI: Post Image Status with URL"
    }
  ],
  "pinData": {},
  "connections": {
    "Set URL": {
      "main": [
        [
          {
            "node": "Screenshot API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot API": {
      "main": [
        [
          {
            "node": "Edit Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Set URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Screenshot": {
      "main": [
        [
          {
            "node": "Extract URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URL": {
      "main": [
        [
          {
            "node": "Set Image & Caption",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image & Caption": {
      "main": [
        [
          {
            "node": "Creating Container ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Creating Container ID": {
      "main": [
        [
          {
            "node": "Post to Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "main": [
        [
          {
            "node": "Upload Screenshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "WHAPI: Post Image Status with URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Instagram": {
      "main": [
        [
          {
            "node": "Workflow Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WHAPI: Post Image Status with URL": {
      "main": [
        [
          {
            "node": "Workflow Complete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56fd74da-b8e8-436b-ae65-c45df6890b3a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "31077d14f10f072ee2f046676f834d3e46b668aa81080e966579881d0e4083fd"
  },
  "id": "E1lJJgKQzWvVb309",
  "tags": []
}